@charset "UTF-8";

body{
  font-family: "Century Gothic", "Avenir Next", sans-serif;
}
.wrapper{
  max-width: 1000px;
  margin: auto;
}

.copy{
  text-align: center;
}

.select-a {
	overflow: hidden;
	width: 90%;
  max-width: 400px;
	margin: 2em 0;
	text-align: center;

  position: relative;
	border: 1px solid #bbbbbb;
	border-radius: 2px;
	background: #ffffff;
}

.select-a::before{
  position: absolute;
	top: 0.8em;
	right: 0.9em;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #666666;
	pointer-events: none;
}

.select-a select{
  width: 100%;
  padding-right: 1em;
	cursor: pointer;
	text-indent: 0.01px;
	text-overflow: ellipsis;
	border: none;
	outline: none;
	background: transparent;
	background-image: none;
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;

  padding: 8px 38px 8px 8px;
	color: #666666;
}

.select-a select::-ms-expand {
    display: none;
}

.button-a{
  width: 90%;
  max-width: 100px;
	margin: 2em 0;
	text-align: left;

  border: 1px solid #bbbbbb;
	border-radius: 2px;
	background: #ffffff;
}

.button-a input.button{
  width: 100%;
  padding-right: 1em;
  border: none;
}
